{% extends 'base.jinja2' %}

{% block subtitle %}View a Single Donor{% endblock subtitle%}

{% block content %}
<form method="POST">
    {% if error %}<p>{{ error }}</p>{% endif %}
    <label for="name_donor">Donor:</label><input id="name_donor" type="text" name="name_donor"></br>
    <input type="submit" value="See their donations">
</form>
{% endblock content %}